/*********   HEADER  ******************/

.header {
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #1E4A5D;
  margin-bottom: 10px;
}

h3 {
  /*padding-left: 150px;*/
  background: #1E4A5D;
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #BCF7EE;
  cursor: default;
}

h3:active, h3:focus {
  outline: transparent;
}

.logout {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /*min-width: 200px;*/
  height: 40px;
  /*margin-right: 160px;*/
  cursor: pointer;
}

.login_picture {
  width: 38px;
  height: 38px;
  margin-right: 5px;
  background-size: 40px;
  border: 2px solid lightgrey;
  border-radius: 3px;
  background-image: url(../../assets/bit-face.png);
  background-repeat: no-repeat;
  background-position: center center;
}

h4 {
  display: flex;
  align-items: center;
  color: #BCF7EE;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  cursor: default;
  position: relative;
}

/********   DROPDOWN MENU   *************/

h4 div {
  display: none;
  /*z-index: 1;*/

}

h4:hover > div {
   position: absolute;
  display: flex;
  flex-direction: column;
  max-width: 150px;
  background: #1E4A5D;
  border-top: 14px solid #1E4A5D;
}

h4 div p {
  display: flex;
  padding: 2px;
  width: 100px;
  justify-content: flex-end;
}

h4 div p:hover {
  background: #83BBBC;
  color: #1E4A5D;
}

.logoutButton, .profileButton {
  cursor: pointer;
  font-size: 18px;
}

/* ----------- iPhone 5, 5S, SE ----------- */

@media screen and (max-width: 320px)  {

  .header {
    height: 30px;
  }

  h3 {
    font-size: 14px;
  }

  h4 {
    font-size: 14px;
  }

  p {
    font-size: 12px;
  }

  .login_picture {
    width: 22px;
    height: 22px;
  }

  h4 div {
  display: none;
  z-index: 1;
  }

  h4:hover > div {
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: column;
    max-width: 150px;
    background: #1E4A5D;
    border-top: 8px solid transparent;
  }

  h4 div p {
    display: flex;
    padding: 2px;
    width: 100px;
    justify-content: flex-end;
  }

  h4 div p:hover {
    background: #83BBBC;
    color: #1E4A5D;
  }

  .logoutButton, .profileButton {
    cursor: pointer;
    font-size: 12px;
}
}








