<div class="container">
<app-header></app-header>
    <div class="main">
        <div class="properties">
                <h1>{{userName | capitalizefirst}}'s room</h1>
                <h3>Guess the drawing</h3>
        <!--         <p class="player">You're playing with: </p>
                <p class="user">{{userName | capitalizefirst}}</p> -->
                <p class="guessed">{{guessed}}</p>
                <p *ngIf="time" class="time">Remaining time: {{time}}</p>
                <div class="guess">
                    <input #box placeholder="Guessing" size="20">
                    <div *ngIf="canGuess" class="button" (click)="guessPost(box.value)">submit</div>
                </div>
        </div>   
            <canvas id="canvas" width="560" height="420"></canvas>
    </div>    
</div>


