<div class="container">
<app-header></app-header>
    <div class="main">
        <div class="properties">
            <div class="upper">
                <h1>{{userName | capitalizefirst}}'s room</h1>
                <h3>Guess the drawing</h3>
                <p class="player">You're playing with:</p>
                <p class="user">{{userName | capitalizefirst}}</p>
                <div class="guess">
                    <input #box placeholder="Guessing" size="22">
                    <div class="button" (click)="guessPost(box.value)">submit</div>
                </div>
            </div>
            <div class="bottom"> 
                
            </div>
        </div>   
        <canvas width="560" height="420"></canvas>
    </div>    
</div>


