.background {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4BCABE;
    width: 100vw;
    height: 100vh;
}

.loginbox {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 335px;
    height: 595px;
    background: #1E4A5D;
    box-shadow: 0px 10px 51px -3px rgba(0,0,0,0.65);
}

.titleBox {
    height: 185px;
    border-radius: 3px;
}

h3 {
    padding: 70px 30px;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    color: #4BCABE;
}

span {
    display: block;
}

input {
    width: 270px;
    height: 42px;
    background: #0F2E3F;
    color: #FFF;
    border: 1px solid #0F2E3F;
    margin-bottom: 25px;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-indent: 45px; 
}

.user-name {
    background-color: #0F2E3F;
    background-image: url('../../assets/user_white.svg');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 18px;
}

.password {
    background-color: #0F2E3F;
    background-image: url('../../assets/lock_white.svg');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 18px;
}

.re-pass {
    background-color: #0F2E3F;
    background-image: url('../../assets/redo-arrow.svg');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 18px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #BBB;
}

button {
    width: 270px;
    height: 42px;
    border-radius: 3px;
    background: #45C3BF;
    border: 1px solid #45C3BF;
    color: #FFF;
    font-size: 18px;
    text-transform: uppercase;
}

button:hover {
    cursor: pointer;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.regLog {
    font-family: 'Roboto', sans-serif;
    color: #cbcbc9;
    font-size: 22px;
    margin-bottom: 40px;
}

.regLog:hover {
    cursor: pointer;
}

.error {
    color: red;
    margin-top: 20px;
}