.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #4BCABE;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  background: #1E4A5D;
  width: 1024px;
  height: 520px;
}

.properties {
    height: 420px;
    width: 300px;
    background: #1E4A5D;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.canvas {
}


h3 {
    font-size: 40px;
    color: white;
    font-weight: bolder;
    padding-bottom: 10px;
}

.draw-that {
    color: white;
    font-size: 24px;
    padding-bottom: 20px;
}

span {
    font-weight: bolder;
}

.player {
    font-weight: 20px;
    color: white;
    line-height: 22px;
    padding-bottom: 30px;
}

.all-colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 130px;
}

.color {
    margin-right: 10px;
    width: 45px;
    height: 45px;
    border-radius: 25px;
}

.red {
    background-color: #e84534;
}

.yellow {
    background-color: #ffef03;
}

.orange {
    background-color: #f98f1f;
}

.black {
    background-color: black;
}

.purple {
    background-color: #a54398;
}

.blue {
    background-color: #3c5daa;
}

.green {
    background-color: #00a458;
}

.white {
    background-color: white;
}

button {
    padding: 10px;
    margin-right: 5px;
    color: #c6d0d4;
    border: 0;
    background-color: #2b5a6a;
}

.lines {
    display: flex;
    justify-content: center;
}

.normal, .bold, .bolder {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 22px 5px;
}

.normal {
    background: url('../../assets/norm.png') center no-repeat;
    background-color: #2b5a6a;
	background-size: 40px;
}

.bold {
    background: url('../../assets/bold.png') center no-repeat;
    background-color: #2b5a6a;
	background-size: 40px;
}

.bolder {
    background: url('../../assets/bolder.png') center no-repeat;
    background-color: #2b5a6a;
	background-size: 40px;
}

.active {
    border: 2px solid #c6d0d4;
}

button:hover, .color:hover, .normal:hover, .bold:hover, .bolder:hover {
    cursor: pointer;
}