.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #4BCABE;
  width: 100vw;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 19px;
  background: #1E4A5D;
  min-height: 520px;
  width: 75%;
}

.login_picture {
  width: 202px;
  height: 200px;
  margin-right: 5px;
  background-size: 200px;
  border: 4px solid lightgrey;
  border-radius: 3px;
  background-image: url(../../assets/8biticon_male.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}

.profile {
    box-sizing: border-box;
    display: flex;
    padding: 30px;
    height: 300px;
}

.datas {
    background-color: #1E4A5D;
    font-size: 24px;
    color: #BCF7EE;
    line-height: 70px;
}

.name {
    z-index: 10;
    position: relative;
    font-size: 40px;
}

.edit {
    cursor: pointer;
    font-size: 14px;
    color: lightgray;
    vertical-align: super
}

h3 {
    font-size: 24px;
    color: #BCF7EE;
    padding-bottom: 40px;
}

.changeName {
    position: relative;
    top: 4px;
    height: 35px;
    width: 300px;
}

@keyframes moveDown {
    0% { left:0; top:-30px;}
    100% { left:0; top:0px;}
}

input {
    width: 170px;
    height: 30px;
    background: #0F2E3F;
    color: #FFF;
    border: 0;
    margin-bottom: 25px;
    border-radius: 5px;
    border: 2px solid transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-indent: 20px;
    position: relative;
    animation-name: moveDown;
    animation-duration: 0.9s;
}

button {
    cursor: pointer;
    padding: 10px;
    margin-right: 5px;
    color: #c6d0d4;
    border: 0;
    background-color: #2b5a6a;
    position: relative;
    animation-name: moveDown;
    animation-duration: 0.9s;
}

@keyframes moveUp {
    0% { left:0; top:0px;}
    100% { left:0; top:-40px;}
}

.hide {
    position: relative;
    animation-name: moveUp;
    animation-duration: 0.9s;
}

.rooms{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.room {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /*flex: 1 1 20%;*/
    margin: 30px;
    border: 2px solid white;
    width: 200px;
    height: 80px;
}

.room-name {
    font-size: 20px;
    color: white;
}

.guessed {
    color: white;
}

.false {
    color: tomato;
}

.true {
    color: #00ff3b;
}

@media screen and (max-width: 320px)  {
  
  .main {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0px;
    background: #1E4A5D;
    min-height: 520px;
    width: 95%;
  }

  .profile {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    height: 400px;
  }

  .login_picture {
    width: 150px;
    height: 150px;
    margin: 20px;
    background-size: 150px;
    border: 4px solid lightgrey;
    border-radius: 3px;
    background-image: url(../../assets/8biticon_male.jpg);
    background-repeat: no-repeat;
    background-position: center center;
  }

  .datas {
    background-color: #1E4A5D;
    font-size: 24px;
    color: #BCF7EE;
    line-height: 50px;
  }

  .name {
    z-index: 10;
    position: relative;
    font-size: 30px;
  }

  .room-name {
    font-size: 16px;
  }

  .room {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 15px;
    border: 2px solid white;
    min-width: 100px;
    height: 80px;
  }

  h3 {
    font-size: 28px;
    color: #BCF7EE;
    padding-bottom: 10px;
  }

}