<div class="container">
<app-header></app-header>
  <div class="main">
    <div class="profile">
      <div class="login_picture"></div>
      <div>
        <p class="datas name">{{name }} <span class="edit" (click)="editName()">[edit]</span></p>
        <div class="changeName" ><input [ngClass]="hide" *ngIf="edit" type="text" [(ngModel)]="name"><button [ngClass]="hide" *ngIf="edit">Set</button></div>
        <p class="datas">Score: {{ score }}</p>
      </div>
    </div>
    <div>
      <h3>History:</h3>
      <div class="rooms">
        <div class="room" *ngFor="let room of myRooms">
          <p class="room-name">{{room.name}}</p>
          <p class="guessed"> 
          <span class="false" *ngIf="!room.guessed" >Your partner guessed wrong</span>
          <span class="true" *ngIf="room.guessed" >Guessed! </span>
          </p>
        </div>
      </div>  
    </div>
  </div>  
<div>