.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
  background: #1E4A5D;
}

.main {
  background: #4BCABE;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  min-height: 76vh;
  padding-top: 35px;
  padding-bottom: 25px;
}

/*********   HEADER  ******************/

.header {
  min-width: 100vw;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3 {
  padding-left: 150px;
  background: #1E4A5D;
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #BCF7EE;
  cursor: default;
}

.logout {
  display: flex;
  justify-content: flex-end;
  min-width: 200px;
  height: 40px;
  margin-right: 160px;
  cursor: pointer;
}

.login_picture {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  background-size: 40px;
  border: 2px solid lightgrey;
  border-radius: 3px;
  background-image: url('../../assets/8biticon_male.jpg');
  background-repeat: no-repeat;
  background-position: center center;
}

h4 {
  display: flex;
  align-items: center;
  color: #BCF7EE;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  cursor: default;
}

/********   DROPDOWN MENU   *************/

h4 div {
  display: none;
  position: absolute;
}

h4:hover > div {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  background: #1E4A5D;
  border-top: 14px solid #1E4A5D;
}

h4 div p {
  display: flex;
  padding: 2px;
  width: 100px;
  justify-content: flex-end;
}

h4 div p:hover {
  background: #83BBBC;
  color: #1E4A5D;
}

.profileButton {
  cursor: not-allowed;
  font-size: 18px;
}

.logoutButton {
  cursor: pointer;
  font-size: 18px;
}

/*************  USER ***********************/

.user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 12px;
  width: 350px;
  height: 90px;
  border-radius: 10px;
  cursor: default;
  background-color: #1E4A5D;
  box-shadow: 0px 10px 51px -3px rgba(0,0,0,0.65);
}

.userImage {
  min-width: 70px;
  height: 70px;
  background-image: url('../../assets/8biticon_male.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70px;
  border: 2px solid lightgrey;
  border-radius: 3px;
  margin-left: 10px ;
}

.user p {
  text-indent: 30px;
  font-size: 18px;
  color: #4BCABE;
  font-family: 'Roboto', sans-serif;
}

.button:hover p {
  display: none;
}

.button:hover:after  {
  background-color: #83BBBC;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  content:"JOIN";
  font-size: 34px;
  color: #1E4A5D;
  padding: 28px 106px 28px 84px;
  border-radius: 0px 10px 10px 0px;
}

/*************  USER CREATE ******************/

.userCreate {
  margin:  20px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 90px;
  border-radius: 10px;
  background-color: #1E4A5D;
  cursor: default;
  box-shadow: 0px 10px 51px -3px rgba(0,0,0,0.65);
}

.userCreate:hover p {
  display: none;
}

.userCreate:hover:before {
  background-color: #83BBBC;
  content: "CREATE";
  font-size: 34px;
  color: #1E4A5D;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  padding: 28px 111px 28px 116px;
  border-radius: 10px;
}

.userCreate p {
  font-size: 23px;
  font-weight: 300;
  border-radius: 10px;
  padding: 5px 20px;
  color: #4BCABE;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

/*********   PAGINATION   **************/

.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #4BCABE;
  height: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.pagination /deep/ ul.ngx-pagination {
    background: #4BCABE;
    color: red;
}

.pagination /deep/ a{
    background: #4BCABE;
    color: #1E4A5D;
}

.pagination /deep/ a:hover {
    background: #1E4A5D;
    color: #4BCABE;
}

.pagination /deep/ .current {
    background: #1E4A5D;
    color: #83BBBC;
}

.pagination /deep/ .pagination-previous {
  color: #1E4A5D;
}