<div class="container">
    <app-header></app-header>
    <div class="main">
        <div *ngFor="let room of rooms | paginate: { itemsPerPage: 11, currentPage: p }" >
            <div class="user button room_{{room.id}}" (click)="enterToRoom(room)" [ngSwitch]="room.status">
                <div class="freelight" *ngSwitchCase="0"><img src="./assets/greenlight.png" alt=""></div>
                <div class="freelight" *ngSwitchCase="1"><img src="./assets/redlight.png" alt=""></div>
                <div class="userImage"></div>
                <div class="roomName">
                    <p>{{ room.name | capitalizefirst }}</p>
                </div>
            </div>
        </div>
        <div class="user-create" >
            <p>Don't have a room? Create one!</p>
            <input class="roominput" type="text" #roomnameinput (keyup.enter)="createRoomButton(roomnameinput.value)" maxlength="10" size="12" placeholder="Room name, please">
        </div>
    </div>
    <div class="pagination">
        <pagination-controls (pageChange)="p = $event" previousLabel="" nextLabel="" maxSize="5"></pagination-controls>
    </div>
</div>
