

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #4BCABE;
  min-height: 100vh;
}

/*app-header {
  flex: 1 0 auto;
}*/

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start; 
  flex: 1 0 auto;
  background: #4BCABE;
  max-width: 960px;
  max-height: 525px;
  margin-top: 20px;
  /*border: 1px solid black;*/
  /*max-height: 100vh;*/
  /*padding-top: 70px;*/
}


/*************  USER ***********************/

.user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px auto;
  width: 270px;
  height: 90px;
  border-radius: 10px;
  cursor: default;
  background-color: #1E4A5D;
  box-shadow: 0px 10px 51px -3px rgba(0,0,0,0.65);
  position: relative;
}

.freelight {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 8px;
    right: 8px;
}

.freelight img {
  width: 100%;
  height: auto;
}


.userImage {
  min-width: 70px;
  height: 70px;
  background-image: url(../../assets/bit-face.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70px;
  border: 2px solid lightgrey;
  border-radius: 3px;
  margin-left: 10px ;
}

.user p {
  text-indent: 30px;
  font-size: 18px;
  color: #4BCABE;
  font-family: 'Roboto', sans-serif;
}

.button:hover p {
  display: none;
}

.button:hover:after  {
  background-color: #83BBBC;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  content:"JOIN";
  font-size: 34px;
  color: #1E4A5D;
  padding: 28px 55px;
  border-radius: 0px 10px 10px 0px;
}

.button:active:after {
  background-color: #83BBBC;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  content:"JOIN";
  font-size: 34px;
  color: #1E4A5D;
  padding: 28px 67px 28px 64px;
  border-radius: 0px 10px 10px 0px;
  margin-bottom: 10px;
}

/*************  USER CREATE ******************/

.user-create {
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 90px;
  border-radius: 10px;
  background-color: #1E4A5D;
  cursor: default;
  box-shadow: 0px 10px 51px -3px rgba(0,0,0,0.65);
}

.user-create p {
  font-size: 23px;
  font-weight: 300;
  border-radius: 10px;
  padding: 5px 20px;
  color: #4BCABE;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  z-index: 0;
}

.roominput {
  display:none;
}

.user-create:hover p{
  z-index: -1;
}

.roominput::-webkit-input-placeholder {
  font-size: 17px;
}

.user-create:hover .roominput{
  width: 180px;
  position: absolute;
  display: block;
  color: #1E4A5D;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  background: #4BCABE;
}



/*input:focus {
    display:block;
}*/


/*.user-create:hover p {
  display: none;
}*/

/*.user-create:hover:before {
  background-color: #83BBBC;
  content: "CREATE";
  font-size: 34px;
  color: #1E4A5D;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  padding: 28px 84px 28px 84px;
  border-radius: 10px;
}*/



/*********   PAGINATION   **************/

.pagination {
  /*flex-shrink: 0;*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #4BCABE;
  min-height: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.pagination /deep/ ul.ngx-pagination {
    background: #4BCABE;
    color: red;
}

.pagination /deep/ a{
    background: #4BCABE;
    color: #1E4A5D;
}

.pagination /deep/ a:hover {
    background: #1E4A5D;
    color: #4BCABE;
}

.pagination /deep/ .current {
    background: #1E4A5D;
    color: #83BBBC;
}

.pagination /deep/ .pagination-previous {
  color: #1E4A5D;
}


@media screen and (max-width: 320px)  {

  .user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 12px auto;
    width: 140px;
    height: 50px;
    border-radius: 10px;
    cursor: default;
    background-color: #1E4A5D;
    box-shadow: 0px 10px 51px -3px rgba(0,0,0,0.65);
    position: relative;
  }

  .userImage {
    min-width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40px;
    border: 2px solid lightgrey;
    border-radius: 3px;
    margin-left: 10px ;
  }

  .user p {
    text-indent: 10px;
    font-size: 12px;
    color: #4BCABE;
    font-family: 'Roboto', sans-serif;
  }

  .button:hover:after  {
    background-color: #83BBBC;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    content: "JOIN";
    font-size: 14px;
    color: #1E4A5D;
    padding: 18px 33px;
    border-radius: 0px 10px 10px 0px;
  }

  .button:active:after {
    background-color: #83BBBC;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    content: "JOIN";
    font-size: 14px;
    color: #1E4A5D;
    padding: 18px 33px;
    border-radius: 0px 10px 10px 0px;
    margin-bottom: 3px;
  }

  .user-create {
    position: relative;
    margin-top:  12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 50px;
    border-radius: 10px;
    background-color: #1E4A5D;
    cursor: default;
    box-shadow: 0px 10px 51px -3px rgba(0,0,0,0.65);
  }

  .user-create p {
    font-size: 12px;
    font-weight: 300;
    border-radius: 10px;
    padding: 5px 20px;
    color: #4BCABE;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    z-index: 0;
  }


  .roominput {
    display:none;
  }

  .user-create:hover p {
    z-index: -1;
  }

  .roominput::-webkit-input-placeholder {
    font-size: 12px;
  }

  .user-create:hover .roominput {
    width: 108px;
    position: absolute;
    display: block;
    top: 14px;
    left: 17px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background: #4BCABE;
  }


  .freelight {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 4px;
    right: 4px;
  }

  .freelight img {
    width: 100%;
    height: auto;
  }

}





